@import url(./index.css);

@media (max-width: 450px){
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
    }
    
    header {
        color: white;
        padding: 20px;
        text-align: center;
    }
    
    img{
        max-width: 50%;
    }
    
    .headers{
        background-color: white;
        height: 5rem;
        color: black;
    }
    
    .planos{
        color: red;
    }
    
    #plans {
        display: block;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        gap: 0.3rem;
    }
    
    .plan {
        background: red;
        color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }
    
    #contact {
        padding: 20px;
        background: white;
        color: black;
        text-align: center;
    }
    
    #contactForm{
        text-align: left;
    }
    
    #alinhamento{
    margin-left: 19rem;
    }
    
    form {
        background-color: black;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
    
    label {
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
    }
    
    input, textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    button {
        width: 6rem;
        font-size: large;
        background: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        cursor: pointer;

    }
    
    button:hover {
        color: white;
        font-weight: bold;
        background-color: black;
        border:0.1rem solid white;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: 6rem;
        background: black;
        color: white;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 8rem;
    }
    
    div{
        /* border-right: 0.1rem solid white; */
        text-align: center;
        padding: 1rem;
    }
    
    
}