/* @import url(./index.css);

@media (max-width: 450px){
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
    }
    
    header {
        color: white;
        padding: 20px;
        text-align: center;
    }
    
    img{
        max-width: 50%;
    }
    
    .headers{
        background-color: white;
        height: 5rem;
        color: black;
    }
    
    .planos{
        color: red;
    }
    
    #plans {
        display: block;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        gap: 0.3rem;
    }
    
    .plan {
        background: red;
        color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
    }
    
    #contact {
        padding: 20px;
        background: white;
        color: black;
        text-align: center;
    }
    
    #contactForm{
        text-align: left;
    }
    
    #alinhamento{
    margin-left: 19rem;
    }
    
    form {
        background-color: black;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
    
    label {
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
    }
    
    input, textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    button {
        width: 6rem;
        font-size: large;
        background: white;
        color: black;
        border: 0.1rem solid black;
        border-radius: 0.5rem;
        cursor: pointer;

    }
    
    button:hover {
        color: white;
        font-weight: bold;
        background-color: black;
        border:0.1rem solid white;
    }
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: 6rem;
        background: black;
        color: white;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 8rem;
    }
    
    div{
        /* border-right: 0.1rem solid white; */
        /* text-align: center;
        padding: 1rem;
    }
    
    
} */ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Zerando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo-tela */
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/img/img5.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

/* Menu - Header - NavBar */
header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.2);
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Centro - Conteudo Principal */
main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Textos conteudo principal */
.primary-text {
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
    text-transform: uppercase;
}

/* Botões */
.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: white;
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: red;
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {

    .menu-content {
        gap: 1rem;
        font-size: 1.4rem;
        flex-direction: column;
        align-items: flex-start;
        /* padding: 10px; */
        margin-bottom: 2rem;
    }

    .logo {
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1.6rem;
        margin-bottom: 0.625rem;
        margin-left: 0.5;

    }

    .menu-content .list-itens {
        flex-direction: column;
        margin: 0;
        /* gap: 5px; */
        width: 100%;
    }

    .menu-content .list-itens a {
        /* padding: 1rem; */
        width: 100%;
        text-align: center;
    }

    .main-content{
        margin-top: 20rem;
    }

    .list-itens{
        align-items: first baseline;
        display: flex;
        margin: 0 auto;
        margin-left: 0;
    }

    .primary-text {
        width: 90%;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .second-text {
        margin-bottom: 3rem;
        font-size: 1.6rem;
    }

    .btns {
        flex-direction: column;
        gap: 0.625rem;
        width: 100%;
    }

    .btns button {
        width: 90%;
    }
}
